<main>
    <table>
        <tr>
            <td width="4%">
                <i class="fa-solid fa-music fa-beat" style="color: #005eff;"></i>
            </td>
            <td width="8.8%">
                <p>Music TrackerX</p>                                
            </td>            
            <td width="11.2%">
                <input class="tx-header-search text-box" type="text" placeholder="Search" />                
            </td>
            <td width="2%">
                <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>                                
            </td>
            <td width="95%">
                <p class="tx-version-label">beta v0.1.0</p>
            </td>                                    
            <td width="57%" align="right">
                <p>Erica</p>
            </td>            
            <td width="3%" align="right">
                <i class="fa-solid fa-circle-user fa-2xl" style="color: #b3b3b3;"></i>
            </td>                
            <td width="5%" align="right">                
               <input type="button" class="btn" value="Log out" (click)="logOut($event)"/> 
            </td>            
        </tr>
    </table>
</main>
