<main>                
    <div class="logo-wrapper">
        <i class="fa-solid fa-music fa-beat" style="color: #005eff;"></i>        
        <p>Music TrackerX</p>                                        
    </div>
    <div class="search-wrapper">
        <input class="text-box" type="text" placeholder="Search" />                                
        <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>                                        
        <p class="p-contrast">{{ currentVersion }}</p>                
    </div>
    <div class="user-panel">
        <p class="p-contrast">{{ currentUserName }}</p>        
        <i class="fa-solid fa-circle-user fa-2xl" style="color: #b3b3b3;"></i>        
        <input type="button" class="btn" value="Log out" (click)="logOut()"/> 
    </div>    
</main>
