<main>
    <div align="center">
        <p class="tx-p-header">Create Account</p>
    </div>
    <form [formGroup]="registrationForm" method="post" autocomplete="off" (submit)="signUp($event)">
        <div class="row">
            <label class="tx-label-email" for="name">Email</label>
            <input class="text-box" name="email" formControlName="email" autocomplete="off"/>
        </div>
        <div class="row">
            <label class="tx-label-name" for="password">Name</label>
            <input class="text-box" type="text" name="name" formControlName="name" autocomplete="off" />
        </div>
        <div class="row">
            <label class="tx-label-password" for="password">Password</label>
            <input class="text-box" type="password" name="password" formControlName="password"  autocomplete="off" />
        </div>        
        <div class="tx-invitation-br"></div>        
        <div>
            <p class="tx-p-invitation-info">Registration is available with invitation code only.</p>
        </div>        
        <div class="tx-row-invitation">
            <label class="tx-label-invitation" for="invitationCode">Invitation Code</label>                   
            <input class="text-box tx-text-box-invitation" type="text" name="invitationCode" formControlName="invitationCode" autocomplete="off"/>            
        </div>
        <br/>
        <div align="right">
            <button class="col btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>    
    <footer><span>Have already an account? <a routerLink="/login">Sign in here</a></span></footer>
</main>