<tx-music-container [selectedTabIndex]="3">
    <main>
        <div class="tx-mc-select-type">
            <p class="tx-mc-step-p">Step 1</p>
            <h3>Create your custom music or add already known songs</h3>
            <p class="tx-mc-plain-text">There are two types of music assets supported by <b>TracerX</b> application:</p>
            <p class="tx-mc-plain-text"><i>Songs</i> are well-known and recognizable pieces created by ever existed bands. </p>
            <p class="tx-mc-plain-text"><i>Custom music</i> is your own pieces of musics, songs, exercises or whatever you play.</p>
            <span>Select type: </span>
            <select name="music_type" id="music_type" (change)="onTypeChange($event)">
                <option value="Empty">-- choose --</option>
                <option value="Song">Song</option>
                <option value="Custom Music">Custom Music</option>                
            </select>
        </div>
        <div class="tx-ms-template" *ngIf="currentMusicType != undefined">
            <p class="tx-mc-step-p">Step 2</p>
            <h3>Setting up your music</h3>
            <ng-container *ngTemplateOutlet="currentMusicType === musicType.Song ? songTemplate : musicTemplate"></ng-container>
        </div>
        <div class="tx-mc-publish" *ngIf="currentMusicType === musicType.Song">
            <p class="tx-mc-step-p">Step 3</p>
            <h3>Publish this song (optional)</h3>
            <div class="tx-agreement-wrapper">
                <p>Would you like to publish your song? Everyone will be able to see and use it.</p>
                <p>You won't be able to edit it, though you would make a contribution to the application community!</p>
                <p>The song won't be published immediately. Firstly it will be reviewed by administrtion.</p>
            </div>            
            <div class="tx-public-controll">
                <input type="button" class="btn" value="I agree" (click)="onAgreeToPublishClicked($event.target)"/>
                <p *ngIf="!this.songModel?.isAgreedToPublish">You didn't agree to publish this song</p>
                <div class="tx-flex-item" *ngIf="this.songModel?.isAgreedToPublish">
                    <i class="fa-solid fa-check fa-lg" style="color: #0091ff;"></i>
                    <p>You have agreed to publish this song</p>    
                </div>                
            </div>                        
        </div>
        <div class="tx-mc-save-wrapper" *ngIf="currentMusicType != undefined">
            <input type="button" class="btn" value="Save" />
        </div>
    </main>
</tx-music-container>

<ng-template #songTemplate>
    <div class="tx-mc-song-wrapper">
        <div class="tx-flex-item tx-name">
            <p class="tx-lbl">Name</p>
            <input type="text" class="text-box tx-input" />
        </div>        
        <div class="tx-flex-item tx-band">
            <p class="tx-lbl">Band</p>
            <input type="text" class="text-box tx-input" />
            <input type="button" class="btn" value="Search" />
        </div>        
        <div class="tx-flex-item tx-album">
            <p class="tx-lbl">Album</p>
            <input type="text" class="text-box tx-input" />
            <input type="button" class="btn" value="Search" />
        </div>
        <br/>
        <ng-container *ngTemplateOutlet="commonfieldsTemplate"></ng-container>
    </div>
</ng-template>

<ng-template #musicTemplate>
    <div class="tx-mc-custom-wrapper">
        <div class="tx-flex-item tx-desc">
            <p class="tx-lbl">Description</p>
            <input type="text" class="text-box tx-input" />
        </div>       
        <ng-container *ngTemplateOutlet="commonfieldsTemplate"></ng-container>    
    </div>    
</ng-template>

<ng-template #commonfieldsTemplate>
    <div class="tx-flex-item tx-genre">
        <p class="tx-lbl">Genre</p>
        <select class="tx-select" name="genre_type" id="genre_type">
            <option value="Empty"></option>
            <option value="Song">Song</option>
            <option value="Custom Music">Custom Music</option>                
        </select>
        <p class="p-subgenre tx-lbl">Subgenre(optional)</p>
        <select class="tx-select" name="genre_type" id="genre_type">
            <option value="Empty"></option>
            <option value="Song">Song</option>
            <option value="Custom Music">Custom Music</option>                
        </select>
    </div>
    <div class="tx-flex-item tx-tempo">
        <p class="tx-lbl">Tempo</p>
        <input type="text" class="text-box tx-input" />         
        <div class="tx-flex-item tx-instrument">
            <p>Instrumental only</p>
            <input type="checkbox">
        </div>   
    </div>
</ng-template>