main {
    margin: 2.5rem 0 0 25%;
}

.tx-mc-select-type {
    line-height: 12px;

    >p {
        color: rgba(0, 97, 242, 0.89);
        font-weight: 500;
        font-size: 22px;        
    }
    
    >h3 {
        margin-top: 35px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 500;
    }

    >select {
        margin-left: 0.5rem;
        width: 150px;
        height: 1.5rem;
        text-align: center;
    }
}