<div>
    <table class="app-main-header">
        <tr>
            <td class="h-title">
                <span><a routerLink="../dashboard">Music Tracker</a></span>
            </td>
            <td>
                <input type="button" class="c-btn-primary" value="Record"/>
            </td>
            <td>
                <input type="button" class="c-btn-primary" value="Setting" (click)="onSettingClick()"/>
            </td>
            <td>
                <input type="button" class="c-btn-primary disabled" value="Account" disabled/>
            </td>
        </tr>
    </table>    
</div>