@import url('https://fonts.cdnfonts.com/css/cascadia-code'); 

.app-main {
  height: 100%;
  padding-left: 25%;
  padding-right: 25%;  
  background-color: white;
  background: linear-gradient(#FFF,#FFF) center / 1020px 100% repeat-y;
}

:host {
  /*font-family: 'Cascadia Code', sans-serif;*/
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  color: #333;
}

