html, body { height: 100%; }
body {
     margin: 0;    
     background: #E4E4E4;
     font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

input {
     font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* CSS */
.c-btn-primary {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.c-btn-primary:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.c-btn-primary:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.c-btn-primary:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.c-btn-primary:focus {
  outline: 1px transparent;
}

.c-btn-primary:before {
  display: none;
}

.c-btn-primary:-webkit-details-marker {
  display: none;
}

*:disabled{
     color: #c5c5c5;
     opacity: 1;
 }

 .c-box-shadow {
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }
 
 .fl-table {
     border-radius: 5px;
     font-size: 12px;
     font-weight: normal;
     border: none;
     border-collapse: collapse;
     width: 100%;
     max-width: 100%;
     white-space: nowrap;
     background-color: white;
 }
 
 .fl-table td, .fl-table th {
     text-align: center;
     padding: 8px;
 }
 
 .fl-table td {
     border-right: 1px solid #f8f8f8;
     font-size: 12px;
 }
 
 .fl-table thead th {
     color: #ffffff;
     background: #4FC3A1;
 }
 
 
 .fl-table thead th:nth-child(odd) {
     color: #ffffff;
     background: #324960;
 }
 
 .fl-table tr:nth-child(even) {
     background: #F8F8F8;
 }
 
 /* Responsive */
 
 @media (max-width: 767px) {
     .fl-table {
         display: block;
         width: 100%;
     }
     .table-wrapper:before{
         content: "Scroll horizontally >";
         display: block;
         text-align: right;
         font-size: 11px;
         color: white;
         padding: 0 0 10px;
     }
     .fl-table thead, .fl-table tbody, .fl-table thead th {
         display: block;
     }
     .fl-table thead th:last-child{
         border-bottom: none;
     }
     .fl-table thead {
         float: left;
     }
     .fl-table tbody {
         width: auto;
         position: relative;
         overflow-x: auto;
     }
     .fl-table td, .fl-table th {
         padding: 20px .625em .625em .625em;
         height: 60px;
         vertical-align: middle;
         box-sizing: border-box;
         overflow-x: hidden;
         overflow-y: auto;
         width: 120px;
         font-size: 13px;
         text-overflow: ellipsis;
     }
     .fl-table thead th {
         text-align: left;
         border-bottom: 1px solid #f7f7f9;
     }
     .fl-table tbody tr {
         display: table-cell;
     }
     .fl-table tbody tr:nth-child(odd) {
         background: none;
     }
     .fl-table tr:nth-child(even) {
         background: transparent;
     }
     .fl-table tr td:nth-child(odd) {
         background: #F8F8F8;
         border-right: 1px solid #E6E4E4;
     }
     .fl-table tr td:nth-child(even) {
         border-right: 1px solid #E6E4E4;
     }
     .fl-table tbody td {
         display: block;
         text-align: center;
     }
 }

 
.c-v2-table {
     border-collapse: collapse;
     margin: 25px 0;
     font-size: 0.9em;
     min-width: 400px;
     border-radius: 5px 5px 0 0;
     overflow: hidden;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }
 
 .c-v2-table thead tr {
     background-color: #2c8dfc;
     color: #ffffff;
     text-align: left;
     font-weight: bold;
 }
 
 .c-v2-table th,
 .c-v2-table td {
     padding: 12px 15px;
 }
 
 .c-v2-table tbody tr {
     border-bottom: 1px solid #dddddd;
 }
 
 .c-v2-table tbody tr:nth-of-type(even) {
     background-color: #f3f3f3;
 }

 .c-v2-table tbody tr.active-row {
     font-weight: bold;
     color: #009879;
 }