.cs-main {
    margin-top: 20px;
    width: 100%;
}

.cs-band {    
    padding-left: 115%;
    width: 33%;
}

.cs-song {
    padding-left: 240%;
    width: 33%;
}

.cs-exercise {
    padding-left: 370%;
    width: 33%;
}