<div class="cs-main">
    <table>
        <tr>
            <td class="cs-band cs-btn">                
                <span><a routerLink="../band">Band</a></span>
            </td>
            <td class="cs-song cs-btn">
                <span><a routerLink="../song">Song</a></span>                
            </td>
            <td class="cs-exercise cs-btn">                
                <span><a routerLink="../dashboard">Exercise</a></span>                
            </td>
        </tr>
    </table>
    <ng-content></ng-content>  
</div>