/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
    margin: 0;
    background-color: #e0e5ec;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.btn {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.btn:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.btn:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.btn:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.btn:focus {
    outline: 1px transparent;
}

.btn:before {
    display: none;
}

.btn:-webkit-details-marker {
    display: none;
}

.btn-submit {
    background-color: rgba(0, 94, 235, 0.911);
    border: none;
    color: rgb(243, 243, 243);
}

.btn-submit:disabled {
    background-color: #e8ecf0;
    border-color: rgba(27, 31, 35, 0.678);
    color: rgb(153, 153, 153);
    cursor: default;
}

.btn-submit:hover:not([disabled]) {
    background-color: rgb(22, 115, 255);
    color: white;
    text-decoration: none;
    transition-duration: 0.1s;
}

.text-box {
    all: unset;
    height: 10px;
    font-weight: 500;
    line-height: 2;
    color: #2e3135;
    border: 1px solid #f3f3f3;
    border-radius: 0.45rem;
    border-color: rgba(202, 202, 202, 0.678);
    box-shadow: 0 0 2px rgba(0,0,0,.19);  
    background-color: #f3f3f3;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.text-box:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(123, 154, 219, 0.5);
}

.text-box:hover {
    outline: none;
    box-shadow: 0 0 0 3px rgba(123, 154, 219, 0.5);
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
        font-size: inherit;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::first-line {
    background-color: #f3f3f3 !important;
    font-size: inherit !important;
    font-weight: 500 !important;
    -webkit-box-shadow: 0 0 0 1000px #f3f3f3 inset !important;
    -webkit-text-fill-color: #555555 !important;
}

select {
    line-height: 1;
    color: #313438;
    border: solid 1px rgb(207, 207, 207);    
    border-radius: 0.32rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .19);
    background-color: rgb(245, 245, 245);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

option {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    font-weight: 500;
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(123, 154, 219, 0.5);
}

select:hover {
    transition: 0.3s;
    box-shadow: 0 0 0 3px rgba(123, 154, 219, 0.5);
}