.tx-sg-table {
    margin: 1.5rem 0 1.5rem 1.5rem;
    vertical-align: bottom;
    width: 60%;
    height: 34.6rem;
    background-color: rgb(250, 250, 250);
    box-shadow: inset 1px 3px 7px 0px rgba(128, 128, 128, 0.15);
    border: solid 1px rgb(207, 207, 207);
    border-radius: 8px;

    >table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 20px 20px 0 0;
    }

    >table tbody {
        display: block;
        height: 32rem;
        overflow-y: auto;
    }

    >table thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    >table tr:nth-child(2n) {
        background-color: rgba(170, 170, 170, 0.12)
    }

    >table tbody td {
        font-weight: 400;
    }

    >table td,
    th {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        text-align: left;
    }

    >table thead th {
        font-size: 18px;
        font-weight: 500;
        color: #FFF;
        line-height: 1.2;
        background-color: rgba(0, 97, 242, 0.911);
    }

    >table thead th:nth-child(1) {
        border-radius: 8px 0 0 0;
    }

    >table thead th:nth-child(3) {
        padding-left: 17px;
    }

    >table thead,
    th:nth-child(4) {
        border-radius: 0 8px 0 0;
        padding-left: 15px;
    }
}