<main>
    <div>
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div>
    <div id="content">
        <router-outlet></router-outlet>  
        <footer>
            <p>
                © 2023 Music Tracker X. All rights reserved | Designed by Shauf Dynamics
            </p>
        </footer>
    </div>    
    <div class="area"></div>
</main>
