main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.75vh;
    margin-top: 1vh;

    div {
        display: flex;
        flex-flow: row;                                

        span {
            padding-top: 0.75vh;
            width: 3.66rem;
        }

        input[type=text] {
            width: 24rem;
            padding: 0.75rem 1.125rem;
            line-height: 0.75;
            border: 1px solid #c5c5c58a;
        }     
    }    

    div.album {
        margin-top: 0.25vh;

        select {
            width: 26.33rem;
            height: 2.15rem;
            padding-left: 1rem;
        }
    }        
}