<main>
    <div>
        <span>Name</span>
        <input type="text" class="text-box tx-input" />
    </div>        
    <div>
        <span>Band</span>
        <input type="text" class="text-box tx-input" />
        <input type="button" class="btn" value="Search" />
    </div>        
    <div>
        <span>Album</span>
        <input type="text" class="text-box tx-input" />
        <input type="button" class="btn" value="Search" />
    </div>   
    <ng-container [ngTemplateOutlet]="commonFieldsTemplate"></ng-container>
</main>