<main>
    <div>
        <span>Name</span>
        <input [(ngModel)]="songName" type="text" class="text-box" (input)="onNameChanged()"/>
    </div>        
    <div>
        <span>Band</span>        
        <p-autoComplete [(ngModel)]="selectedBand" inputStyleClass="text-box" field="bandName"  [suggestions]="bandSuggestions"
             (completeMethod)="searchBand($event)" (onSelect)="onBandSelect()" (onClear)="onClearBandInput()">
            <ng-template let-band pTemplate="bandSuggestions">
                <span >{{band.bandName}}</span>
            </ng-template>
        </p-autoComplete>
    </div>           
    <div>
        <span>Album</span>
        <select [(ngModel)]="selectedAlbum" class="tx-select select" name="select-album" id="select-album" disabled
            [attr.disabled]="!selectedBand? true : null" (change)="onAlbumChange()">
            <option *ngFor="let album of albumSuggestions" [ngValue]="album">
                {{album.albumName}}
            </option>
         </select>
    </div>   
</main>  
