* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 5%;
    min-width: 35rem;
    background-color: #ffffff;
    box-shadow: 5.4px 6px 58px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 1.4px 6px 48px 0px rgba(39, 40, 119, 0.15);
    border-radius: 0.45rem;
    position: absolute;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    height: 5vh;
    color: #0050dbcc;
}

.greeting-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;

    h1 {
        font-weight: 700;
        color: rgb(48, 48, 48);
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
        color: rgb(97, 97, 97);
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 20% 0 10%;
    gap: 1vh;

    .row {
        label {
            margin: 10px;
        }

        input {
            width: 16rem;
            padding: 0.75rem 1.125rem;
            line-height: 0.75;
            border: 1px solid #c5c5c58a;
        }

        input.ng-invalid.ng-touched {
            border: rgba(255, 0, 0, 0.493) 2px solid;
        }

        .forgot-pwd {
            color: #0050db; 
            font-weight: 500;
            font-size: 14.5px;
        }

        button {
            margin-top: 15%;
            width: 5.5rem;
            height: 2.33rem;
        }

        .warning-msg {
            color: red;
        }
    }
}

.join-wrapper {
    border-bottom: 1px solid #a8aada57;
    line-height: 0.1em;
    margin: 10% 5% 0 5%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgb(97, 97, 97);

    span {
        background: #fff;
        padding: 0 10px;
    }

    a {
        color: #0050db;
        font-weight: 500;
        font-size: 16px;
    }
}

footer {
    text-align: center;
    margin: 8% 0 11px 0;
    font-weight: 500;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.432);
}