<div class="component-margin">
    <table class="basic-info-row">
        <tr>
            <td class="basic-info-row-margin">
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>          
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>          
                </mat-form-field>
            </td>
            <td class="basic-info-row-margin">
                <button class="button-save-position" mat-raised-button color="primary">Save</button>
            </td>
            <td>
                <button class="button-save-position" mat-raised-button>Clear</button>
            </td>
        </tr>
    </table>    
</div>