mat-form-field {
    margin-right: 12px;
  }

.component-margin {
    margin-top: 20px;
}  

.basic-info-row {
    margin-left: -100px;
}

.basic-info-row-margin {
    padding-left: 50px;
}

.button-save-position {
    margin-top: -15px;
}